@{
    ViewData["Title"] = "About Us";
}

<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-section set-bg" data-setbg="/theme/img/breadcrumb.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb__text">
                    <h2>About Us</h2>
                    <div class="breadcrumb__option">
                        <a asp-controller="Home">Home</a>
                        <span>About Us</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->
<div class="spad">
    <div class="container">
        <div class="row">
            <section class="col-lg-12">
                <h2 class="mb-3">Our Story</h2>
                <p>
                    Our platform is a comprehensive ecosystem designed to cater to a wide range of user needs. We have a robust user management system, with distinct roles for different types of users. Our product catalog is extensive, with each product having its own set of images and user comments. We also have a category system in place to help users navigate through our diverse product offerings.
                </p>
                <p>
                    In addition to our e-commerce offerings, we have a cart and order management system that ensures a smooth shopping experience from product selection to checkout. We also offer discounts on various products to provide the best value to our customers.
                </p>
                <p>
                    Beyond e-commerce, we have a vibrant blog section where users can read about various topics. Each blog post can be categorized and tagged for easy navigation. Users can also leave comments on blog posts, fostering a community of engaged readers.
                </p>
                <p>
                    Lastly, we have a contact form system in place to ensure we're always reachable for any inquiries or concerns. We value our customers' feedback and strive to improve our platform based on their inputs.
                    Join us in this journey as we strive to provide the best online shopping and reading experience.
                </p>
            </section>
        </div>
    </div>
</div>