@using AVMAPP.Models.DTo.Models.Home
@model NewContactFormMessageViewModel
@{
    ViewData["Title"] = "İLETİŞİM";
}

<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-section set-bg" data-setbg="/theme/img/breadcrumb.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb__text">
                    <h2>İLETİŞİM</h2>
                    <div class="breadcrumb__option">
                        <a href="./index.html">Anasayfa</a>
                        <span>Bize Yazın</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->
<!-- Contact Section Begin -->
<section class="contact spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-6 text-center">
                <div class="contact__widget">
                    <span class="icon_phone"></span>
                    <h4>Telefon</h4>
                    <p>+90-507-062-43-19</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 text-center">
                <div class="contact__widget">
                    <span class="icon_pin_alt"></span>
                    <h4>Adres</h4>
                    <p>Yıldız tepe mahallesi 169 cadde no 21/b Ankara/Altındağ</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 text-center">
                <div class="contact__widget">
                    <span class="icon_clock_alt"></span>
                    <h4>Çalışma Saatleri</h4>
                    <p>10:00 ile 18:00 </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 text-center">
                <div class="contact__widget">
                    <span class="icon_mail_alt"></span>
                    <h4>Email</h4>
                    <p>ayanofis@hotmail.com</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Contact Section End -->
<!-- Map Begin -->
<div class="map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3069.043984195293!2d32.879!3d39.963!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14d34f4d25c7f0a7%3A0x123456789abcdef!2sYıldıztepe%20Mahallesi%20169.%20Cadde%20No%2021%2FB%2C%20Altındağ%2FAnkara!5e0!3m2!1str!2str!4v1726400000000!5m2!1str!2str"
            width="600"
            height="500"
            style="border:0;"
            allowfullscreen=""
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade">
    </iframe>
    <div class="map-inside">
        <i class="icon_pin"></i>
        <div class="inside-widget">
            <h4>Yıldız tepe mahallesi</h4>
            <ul>
                <li>Tel: +90-507-062-43-19</li>
                <li>Add: 169 cadde no 21/b ANK/Altındağ</li>
            </ul>
        </div>
    </div>
</div>
<!-- Map End -->
<!-- Contact Form Begin -->
<div class="contact-form spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="contact__form__title">
                    <h2>Bize Yazın</h2>
                </div>
            </div>
        </div>
        @if (!string.IsNullOrWhiteSpace(ViewBag.SuccessMessage))
        {
            <div class="alert alert-success" role="alert">
                @ViewBag.SuccessMessage
            </div>
        }
        <form asp-controller="Home" asp-action="Contact" method="post">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <input asp-for="Name" placeholder="Adınız">
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="col-lg-6 col-md-6">
                    <input asp-for="Email" placeholder="Email">
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="col-lg-12 text-center">
                    <textarea asp-for="Message" placeholder="Mesajınız"></textarea>
                    <span asp-validation-for="Message" class="text-danger"></span>
                    <button type="submit" class="site-btn">Gönder</button>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- Contact Form End -->