@model List<CategoryListViewModel>

<ul>
    @foreach (var category in Model)
    {
        <li>
            <a href="/Products/Category/@category.Id">
                @if (!string.IsNullOrWhiteSpace(category.Icon))
                {
                    <i class="@category.Icon mr-2"></i>
                }
                @category.Name
            </a>
        </li>
    }
</ul>