<!DOCTYPE html>
<html lang="en">
<head>
    <partial name="Partials/_PageHead.cshtml" />
</head>
<body>
    <header>
        <partial name="Partials/_Topbar.cshtml" />
    </header>

    <div class="container-fluid">
        <div class="row">
            <!-- Sidebar -->
            <div class="col-md-3 col-lg-2 bg-light border-end min-vh-100 p-0">
                <partial name="Partials/_Sidebar.cshtml" />
            </div>

            <!-- Main Content -->
            <div class="col-md-9 col-lg-10 p-4">
                <main role="main" class="pb-3">
                    @RenderBody()
                </main>
            </div>
        </div>
    </div>

    <footer class="border-top footer text-muted mt-auto py-3 bg-light">
        <div class="container text-center">
            &copy; 2025 - AVMAPP.Admin.MVC -
            <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
